.pimg1
    .ptext
        span.border
            p My parralax page 

section.section.section-light
    h2 Section One
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quibusdam itaque. Dolores delectus illum molestiae distinctio eligendi accusamus perferendis quisquam deserunt velit doloremque quia quae officiis deleniti, placeat id? Omnis culpa hic in officia nostrum. Sunt, officiis corrupti. Perspiciatis voluptatem aperiam quo blanditiis laborum nesciunt, natus nostrum obcaecati odit nemo. Beatae, officia earum! Ipsa, et, inventore tempora, cumque saepe quasi fugit laudantium possimus porro facilis esse. Aliquid maiores blanditiis delectus velit provident earum numquam ea officia iure, hic maxime nobis dolorum, nulla odit. Molestiae accusantium aliquid corporis odit eligendi recusandae nihil dolore dolores nulla consectetur at sed nisi, consequatur pariatur?

.pimg2
    .ptext
        span.border.trans
            p Image Two Text

section.section.section-dark
    h2 Section Two
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quibusdam itaque. Dolores delectus illum molestiae distinctio eligendi accusamus perferendis quisquam deserunt velit doloremque quia quae officiis deleniti, placeat id? Omnis culpa hic in officia nostrum. Sunt, officiis corrupti. Perspiciatis voluptatem aperiam quo blanditiis laborum nesciunt, natus nostrum obcaecati odit nemo. Beatae, officia earum! Ipsa, et, inventore tempora, cumque saepe quasi fugit laudantium possimus porro facilis esse. Aliquid maiores blanditiis delectus velit provident earum numquam ea officia iure, hic maxime nobis dolorum, nulla odit. Molestiae accusantium aliquid corporis odit eligendi recusandae nihil dolore dolores nulla consectetur at sed nisi, consequatur pariatur?

.pimg3
    .ptext
        span.border.trans
            p Image Three Text

section.section.section-dark
    h2 Section Three
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quibusdam itaque. Dolores delectus illum molestiae distinctio eligendi accusamus perferendis quisquam deserunt velit doloremque quia quae officiis deleniti, placeat id? Omnis culpa hic in officia nostrum. Sunt, officiis corrupti. Perspiciatis voluptatem aperiam quo blanditiis laborum nesciunt, natus nostrum obcaecati odit nemo. Beatae, officia earum! Ipsa, et, inventore tempora, cumque saepe quasi fugit laudantium possimus porro facilis esse. Aliquid maiores blanditiis delectus velit provident earum numquam ea officia iure, hic maxime nobis dolorum, nulla odit. Molestiae accusantium aliquid corporis odit eligendi recusandae nihil dolore dolores nulla consectetur at sed nisi, consequatur pariatur?

.pimg1
    .ptext
        span.border
            p My parallax page